#line {
  background-color: orange;
  width: 15vw;
  height: 0.5vh;
  font-family: "Baloo Bhaina 2", cursive;
}
#list {
  font-family: "Baloo Bhaina 2", cursive;
  font-size: 1.2rem;
}
@media screen and (max-width: 600px) {
  #yt_video {
    display: none;
  }
}
